<section id="main">
    <div class="row">
        <div class="col-12 mt-2">
            <button type="button" class="btn btn-success my-2 float-right" data-toggle="modal" data-target="#newTaskModal">
                <i class="fas fa-plus-square mr-2"></i>Yeni Proje Ekle
            </button>
            <ul class="list-inline">
                <li class="list-inline-item"><h6>Pano Üyeleri:</h6></li>
                @if (ViewBag.Users != null)
                {
                    List<UserDto> Users = ViewBag.Users;
                    foreach (var item in Users)
                    {
                        var nameArray = item.Name.Split(null);
                        <li class="list-inline-item"> <div data-toggle="tooltip" data-placement="right" title="@item.Name" class="badge badge-pill p-2 badge-primary">@String.Format("{0}{1}", nameArray[0].First().ToString().ToUpper(), (nameArray.Length > 1 ? nameArray[1].First().ToString().ToUpper() : ""))</div></li>
                    }
                }


            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    <i class="fas fa-th-list mr-2"></i>Todo
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-todo" id="todo">

                        @foreach (var item in Model.TodoTasks)
                        {
                            <li>

                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <div>@item.Name</div>
                                    <div class="text-muted font-italic">@item.Task.Name</div>
                                    <p class="text-muted">@item.DateAdded.ToShortDateString()</p>
                                    @if (item.Task.User != null)
                                    {
                                        var nameArray = item.Task.User.Name.Split(null);
                                        <div data-toggle="tooltip" data-placement="right" title="@item.Task.User.Name" class="badge badge-pill p-2 badge-primary">@String.Format("{0}{1}", nameArray[0].First(), (nameArray.Length > 1 ? nameArray[1].First().ToString() : ""))</div>
                                    }
                                </div>

                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>Todo</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Proje: <strong>@item.Task.Name</strong></label>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.Task.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" onclick="return confirm('Bu görevi silmek istediğinizden emin misiniz?');" asp-action="DeleteTask" asp-controller="TaskTodo" asp-route-taskId="@item.Id"><i class="fas fa-trash-alt mr-2"></i>Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat <i class="fas fa-times ml-2"></i></button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Project" asp-route-id="@item.Task.Id"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    <i class="fas fa-spinner mr-2"></i>In Progress
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-progress" id="inProgress">


                        @foreach (var item in Model.InProgressTasks)
                        {
                            <li>
                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <div>@item.Name</div>
                                    <div class="text-muted font-italic">@item.Task.Name</div>
                                    <p class="text-muted">@item.DateAdded.ToShortDateString()</p>
                                    @if (item.Task.User != null)
                                    {
                                        var nameArray = item.Task.User.Name.Split(null);
                                        <div data-toggle="tooltip" data-placement="right" title="@item.Task.User.Name" class="badge badge-pill p-2 badge-primary">@String.Format("{0}{1}", nameArray[0].First(), (nameArray.Length > 1 ? nameArray[1].First().ToString() : ""))</div>
                                    }
                                </div>



                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>In Progress</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Proje: <strong>@item.Task.Name</strong></label>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.Task.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" onclick="return confirm('Bu görevi silmek istediğinizden emin misiniz?');" asp-action="DeleteTask" asp-controller="TaskTodo" asp-route-taskId="@item.Id"><i class="fas fa-trash-alt mr-2"></i>Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat <i class="fas fa-times ml-2"></i></button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Project" asp-route-id="@item.Task.Id"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    <i class="fas fa-eye mr-2"></i>In Review
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-review" id="review">
                        @foreach (var item in Model.InReviewTasks)
                        {
                            <li>
                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <div>@item.Name</div>
                                    <div class="text-muted font-italic">@item.Task.Name</div>
                                    <p class="text-muted">@item.DateAdded.ToShortDateString()</p>
                                    @if (item.Task.User != null)
                                    {
                                        var nameArray = item.Task.User.Name.Split(null);
                                        <div data-toggle="tooltip" data-placement="right" title="@item.Task.User.Name" class="badge badge-pill p-2 badge-primary">@String.Format("{0}{1}", nameArray[0].First(), (nameArray.Length > 1 ? nameArray[1].First().ToString() : ""))</div>
                                    }
                                </div>



                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>In Review</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Proje: <strong>@item.Task.Name</strong></label>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.Task.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" onclick="return confirm('Bu görevi silmek istediğinizden emin misiniz?');" asp-action="DeleteTask" asp-controller="TaskTodo" asp-route-taskId="@item.Id"><i class="fas fa-trash-alt mr-2"></i>Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat <i class="fas fa-times ml-2"></i></button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Project" asp-route-id="@item.Task.Id"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    <i class="fas fa-check-circle mr-2"></i>Done
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-done" id="done">

                        @foreach (var item in Model.DoneTasks)
                        {
                            <li>

                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <div>@item.Name</div>
                                    <div class="text-muted font-italic">@item.Task.Name</div>
                                    <p class="text-muted">@item.DateAdded.ToShortDateString()</p>
                                    @if (item.Task.User != null)
                                    {
                                        var nameArray = item.Task.User.Name.Split(null);
                                        <div data-toggle="tooltip" data-placement="right" title="@item.Task.User.Name" class="badge badge-pill p-2 badge-primary">@String.Format("{0}{1}", nameArray[0].First(), (nameArray.Length > 1 ? nameArray[1].First().ToString() : ""))</div>
                                    }
                                </div>



                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>Done</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Proje: <strong>@item.Task.Name</strong></label>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.Task.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" onclick="return confirm('Bu görevi silmek istediğinizden emin misiniz?');" asp-action="DeleteTask" asp-controller="TaskTodo" asp-route-taskId="@item.Id"><i class="fas fa-trash-alt mr-2"></i>Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat <i class="fas fa-times ml-2"></i></button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Project" asp-route-id="@item.Task.Id"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>

                </div>
            </div>
        </div>

    </div>



    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni Görev Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @await Component.InvokeAsync("TaskDtoComponent", new { taskDto = Model.TaskDto })
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <hr />
            <h5 class="col-12">Aktif Projeler</h5>
            <table class="col-12 table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Eklenme Tarihi</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Kime Atanmış</th>
                        <th>Durum</th>
                        <th scope="col">Düzenle</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Projects)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.DateAdded</td>
                            <td>@item.Name</td>
                            <td>@item.User?.Name</td>
                            <td>@item.Status</td>
                            <td><a class="btn btn-warning float-right" asp-action="Update" asp-controller="Project" asp-route-id="@item.Id"><i class="fas fa-edit mr-2"></i>Düzenle</a></td>
                            <td>     <a class="btn btn-danger float-left" onclick="return confirm('Bu projeyi silmek istediğinizden emin misiniz?');" asp-action="Delete" asp-controller="Project" asp-route-id="@item.Id"><i class="fas fa-trash-alt mr-2"></i>Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

@section Scripts{
    <script>

        $(function () {
            $(".ul-todo, .ul-progress, .ul-review, .ul-done").sortable({
                connectWith: "ul",
                dropOnEmpty: true,
                receive: function (event, ui) {
                    var newState = event.target.id;
                    var item = ui.item;
                    var movedItemId = item.find(".todo-card").attr("id")

                    $.post("/TaskTodo/ChangeTaskState", { id: movedItemId, newState: event.target.id }
                    ).done(function (data) {
                        console.log("Success!!");
                    })
                        .fail(function (data) {
                            console.log("Error" + data)
                        });

                }
            }).disableSelection();
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })


    </script>
} 